@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #E0E0E0;
  background-color: #0B0E14;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

footer {
  background-color: var(--gray);
  text-align: center;
  padding: 1rem;
  color: var(--white);
  font-size: 0.9rem;
  text-shadow: 0 0 5px #00ff55;
}

footer p {
  margin-top: 1rem;
}
